@model HomeModel 
@{
    ViewData["Title"] = "Página Principal";
}

<div class="text-center">
    <h1 class="display-4">Seja Bem-Vindo, @Model.Nome!</h1>
    <span>Seu e-mail é: @Model.Email</span> 
</div>
