@{
    ViewData["Title"] = "Testes automatizados";
}

<div class="text-center">
    <h1 class="display-4">Testes automatizados</h1>
    <span>Coloque seu teste automatizado aqui</span>
    <textarea id="testes automatizados" spellcheck="false" onkeypress="return handleCR(this ,event)" style="width: 477px; height: 155px;">

    </textarea>
    <div class="output" id=" saída testes automatizados"/>
    <button type="button" class="c-button" onclick="evaluateClear('testes automatizados')">
        Executar
    </button>
</div>
